<div *ngIf="!thankYou">
  <form>
    <div class="form-group">
      <igx-input-group>
        <input igxInput name="storeId" type="text" [(ngModel)]="storeId" required="required"/>
        <label igxLabel>{{this.labelText}}</label>
      </igx-input-group>
    </div>
    <div class="form-igxButton">
      <button igxButton="outlined" (click)="checkIfStoreExist(storeId)">Check in to store</button>
    </div>
    <div class="form-igxButton-small-screen">
      <button igxButton="outlined" (click)="checkIfStoreExist(storeId)">Check in</button>
    </div>
  </form>
</div>
<div class="worng-store-id" *ngIf="wrongStoreId">
  <span>Worng store ID<br> 
   Please try again </span>
</div>
<div>
  <div class="dialogNewRecord">
    <igx-dialog #dialog1 title="CheckIn">
    <igx-card>
      <igx-card-header *ngIf="store"> Check In to {{store.storeName}} </igx-card-header>
      <igx-card-content>
        <form class="input-group-form" [formGroup]="userForm" (ngSubmit)="onCheckinFormSubmit()">
          <igx-input-group class="input-group-form">
            <label igxLabel class="igxLabel" for="firstName"> First Name </label>
            <input igxInput id="firstName" name="firstName" type="text" formControlName="firstName" required>
            <igx-suffix>
              <igx-icon isActive="true">person</igx-icon>
            </igx-suffix>
          </igx-input-group>
          <igx-input-group class="input-group-form">
            <label igxLabel for="lastName"> Last Name </label>
            <input igxInput id="lastName" name="lastName" type="text" formControlName="lastName" required>
            <igx-suffix>
              <igx-icon isActive="true">person</igx-icon>
            </igx-suffix>
          </igx-input-group>
          <igx-input-group class="input-group-form">
            <label igxLabel for="phone"> Phone </label>
            <input igxInput id="phone" name="phone" type="text" formControlName="phone" required>
            <igx-suffix>
              <igx-icon isActive="true">phone</igx-icon>
            </igx-suffix>
          </igx-input-group>
          <igx-input-group class="input-group-form">
            <label igxLabel for="email"> E-mail </label>
            <input igxInput id="email" name="email" type="text" formControlName="email" required>
            <igx-suffix>
              <igx-icon>email</igx-icon>
            </igx-suffix>
          </igx-input-group>
          <button igxButton="raised" igxRipple type="submit" [disabled]="!userForm.valid">Book</button>
          <button igxButton="outlined" (click)="goBackToCheckInForm()"> Back </button>
        </form>
      </igx-card-content>
    </igx-card>
    </igx-dialog>
  </div>
</div>
<div *ngIf="thankYou">
  <p>Thank you</p>
  <button igxButton="outlined" (click)="goBackToCheckInForm()"> Back </button>
</div>
