<div class="storeOwnerCard">
  <igx-card class="storDetails">
    <igx-card-header> Store details </igx-card-header>
    <igx-card-content>
      <ul>
        <li> Store name: {{store.store_name}}</li>
        <li>Your store ID is: {{store.id}}</li>
      </ul>
    </igx-card-content>
    <igx-card-actions>
      <div class="igx-card-actions__igroup--start">
        <span igxButton="icon" igxRipple igxRippleCentered="true">
          <igx-icon name="add"></igx-icon>
        </span>
        <span igxButton="icon" igxRipple igxRippleCentered="true">
          <igx-icon name="star"></igx-icon>
        </span>
      </div>
    </igx-card-actions>
  </igx-card>
</div>