.wrapper {
margin: 0;
padding: 10px;
font-family: Kollektif;
}
.header {
  padding: 5px;
  text-align: center;
  background-color: #2f2e33;
}
.footer {
  padding: 20px;
  text-align: center;
  background-color: #2f2e33;
}

.main {
  display: flex;
  flex-flow: column wrap;
}
.features{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background: #d5d6d2;
  width: 100%;
  height: auto;
  padding: 0.75rem;
}
.left-features {
  border-style: solid;
  border-width: 5px;
  border-color: tomato;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
}

.right-features{

  border-style: solid;
  border-width: 5px;
  border-color: #3a5199;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
}

.aside{
  position: relative;
  display: flex;
  flex: 100%;
  flex-flow: row ;
  text-align: center;
  align-items:baseline;
}

.aside-1 {
   position: relative;
   background-color:tomato;
   flex: 50%;
}

.aside-2 {
   position: relative;
   background-color: #3a5199;
   flex: 50%;

}
.login-button{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.check-in-input{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-signin{
  max-width: 100%;
  height: auto;
}
ul{
   list-style-image: url('../../../assets/img/ul-icon.png');
}

h4{
  margin-bottom: 1rem;
}


@media screen and (max-width: 800px) {
  .features {
    flex-flow: column wrap;

  }
  .aside{
    flex-flow: column wrap ;
  }
  .aside-2{
    margin-top: 10px;
  }
  .aside-1{
    margin-top: 10px;
  }
  .right-features{
    margin-top: 10px;
  }

  .check-in-input{
    width: 30%;
    height: auto;
  }
  .logo{
    width: 95%;
  }
}

