<div class="wrapper">
    <header class="header">
        <div class="logo">
            <img src="../../assets/img/logo.png" class="logo">
        </div>
    </header>
    <div class="main">
        <div class="features">
            <div class="left-features">
                <h4>Client?</h4>
                <ol>
                    <li>Go to client Entrance</li>
                    <li>Enter store ID</li>
                    <li>Fill a short registration form</li>
                    <li>Thats it!</li>
                </ol>
            </div>
            <div class="right-features">
                <h4>Store owner - sign in with Google and:</h4>  
                <ul>
                    <li>Handle, manage and control customers visits</li>
                    <li>Keep track of customers with a virtual reception</li>
                    <li>Monitor queues to enter your store</li>
                    <li>Reach the clients via a helpful landing page.</li>
                </ul>
            </div>
        </div>
        <div class="aside">
            <aside class="aside-1">
                <img src="../../assets/img/VisitorEntrance.png" class="img-signin">
                <div class="check-in-input">
                    <app-store-check-in></app-store-check-in>
                </div>
            </aside>
            <aside class="aside-2">
                <img src="../../assets/img/signinbkg.png" class="img-signin">
                <div class="login-button">
                    <app-login></app-login>
                </div>
            </aside>
        </div>
    </div>
    <footer class="footer">Footer</footer>
</div>