@import '../../../../node_modules/igniteui-angular/lib/core/styles/themes/index';



.wrapper{
    display: flex;
    flex-flow: column wrap;
    font-family: Kollektif;

}

.header {
  display: flex;
  flex-flow: row nowrap;
  background-color: #2f2e33;
  color: white;
  justify-content: space-between;
                  .title{
                   display: flex; 
                   flex-flow: row nowrap; 
                   align-items: flex-end; 
                   color: white;
                   font-size: 4rem;
                   font-weight: 800;
                }
}

.avatar-and-logout{
  display: flex; 
  flex-flow: row nowrap; 
  align-items: flex-end;
  margin: 5px;                      
 }
                        
     


.main-panel{
    display: flex;
    background-color: #d5d6d2;
    
}
.left-main-panel{
    flex: 33%;
}

.center-main-panel{
    flex:33%;
}

.right-main-panel{
        flex: 34%;
        

}


igx-card{
    margin: 20px;   
}



igx-card.storDetails{
    height: 200px;
}
 
.visitor_grid__header{
    h3{
        text-align: center;
    }
    
}
.visitorsGrid{
 
    margin: 20px;
}

.footer{
  background-color: #3a5199;
  color: white;
}
.dialogNewRecord {
    margin: 10px;
    padding: 10px;
    #discontinued {
    margin-top: 15px; 
    }
}

igx-input-group{
    label{
        font-size: 0.7em;
    }
}



@media screen and (max-width: 800px) {
  .main-panel {   
    flex-flow: column wrap;
  }

}







