<div class="wrapper">
  <header class="header">
    <div class="avatar-and-logout">
      <app-avatar-and-logout [storeOwner]="storeOwner" (logedOut)="onStoreOwnerLoggedOut()"></app-avatar-and-logout>
    </div>
    <div class="title">
      <img src="../../../assets/img/logo-dashboard.png" class="logo">
      <span>DashBoard</span>
    </div>
    <div>
    </div>
  </header>
  <div class="main-panel">
    <div class="left-main-panel">
      <app-store-owner-card [store] = "store"></app-store-owner-card>
    </div>
    <div class="center-main-panel">
<app-next-visitor [nextVisitors] = "nextVisitors"></app-next-visitor>
    </div>
    <div class="right-main-panel">
      <igx-card #queueMonitor>
        <igx-card-header>Queue Monitor</igx-card-header>
        <igx-card-content>
          <app-monitor-queues [VisitorsQueue]="todayVisitors"
            (visitorRemoveFromQueue)="onVisitorRemoveFromQueue($event)">
          </app-monitor-queues>
        </igx-card-content>
        <igx-card-actions>
          <div class="igx-card-actions__igroup--start">
            <span igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon name="add"></igx-icon>
            </span>
            <span igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon name="star"></igx-icon>
            </span>
          </div>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
  <div class="visitor_grid__header">
    <h3>Visitors Log</h3>
    <button igxButton="raised" (click)="dialogAdd.open()" class="addProdBtn">Add New Visitor</button>
  </div>
  <div class="visitorsGrid">
    <app-visitors-grid [store]="store" [visitors]="visitors" (logoutEvent)="onLogoutEmit()">
    </app-visitors-grid>
  </div>
  <footer class="footer">Footer</footer>
</div>
<div class="dialogNewRecord">
  <igx-dialog #dialogAdd title="ADD VISITOR" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'"
    (onLeftButtonSelect)="cancel()" (onRightButtonSelect)="addRow()">
    <div class="dialogNewRecord">
      <igx-input-group class="input-group-form">
        <label igxLabel class="igxLabel" for="first_name"> First Name </label>
        <input igxInput name="first_name" type="text" [(ngModel)]="visitor.first_name" required>
        <igx-suffix>
          <igx-icon isActive="true">person</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-input-group class="input-group-form">
        <label igxLabel for="last_name"> Last Name </label>
        <input igxInput name="last_name" type="text" [(ngModel)]="visitor.last_name" required>
        <igx-suffix>
          <igx-icon isActive="true">person</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-input-group class="input-group-form">
        <label igxLabel for="phone"> Phone </label>
        <input igxInput name="phone" type="text" [(ngModel)]="visitor.phone" required>
        <igx-suffix>
          <igx-icon isActive="true">phone</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-input-group class="input-group-form">
        <label igxLabel for="email"> E-mail </label>
        <input igxInput name="email" type="text" [(ngModel)]="visitor.email" required>
        <igx-suffix>
          <igx-icon>email</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>
  </igx-dialog>
</div>
